@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(39, 39, 39);
    color: aqua;
    font-family: 'Audiowide', 'Lucida Console', monospace;
}

.titleLogo {
    width: 900px;
    height: auto; 
    margin-top: 30px;
}

.tagline {
    width: 700px;
    height: auto; 
    margin-top: 0px;
}

h4,h2,h3 {
    margin: 10px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.buttons {
    display: flex;
}

.button {
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 3px;
    box-shadow: 0px 8px 15px aqua;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    padding: 6px;
    margin: 15px;
    }
  
  .button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: yellow;
    transform: translateY(-7px);
  }

input {
    margin: 5px;
}

.scores {
    display: flex;
}

/*
<div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
